{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'myapp/style.css' %}" />
    <title>Details of {{ object.first_name }} {{ object.last_name }}</title>
</head>
<body>
    <div class="user-details-container">
        <h1>{{ object.first_name }} {{ object.last_name }}</h1>

            {% if object.profile_picture %}
            <div class="user-avatar">
                <img src="{{ object.profile_picture.url }}" />
            </div>
            {% endif %}
        <table class="user-details">
            <tr>
                <td class="desc">Nickname</td>
                <td>{{ object.nickname }}</td>
            </tr>
            <tr>
                <td class="desc">Gender</td>
                <td>{{ object.gender }}</td>
            </tr>
            <tr>
                <td class="desc">Address</td>
                <td>{{ object.address }}</td>
            </tr>
            <tr>
                <td class="desc">Favorite Artist</td>
                <td>{{ object.favorite_artist }}</td>
            </tr>
            <tr>
                <td class="desc">Birth date</td>
                <td>{{ object.birthday }}</td>
            </tr>
            <tr>
                <td class="desc">Zodiac Sign</td>
                <td>{{ object.zodiac_sign }}</td>
            </tr>
            <tr>
                <td class="desc">MBTI</td>
                <td>{{ object.mbti }}</td>
            </tr>
            <tr>
                <td class="desc">IQ</td>
                <td>{{ object.iq }}</td>
            </tr>
            <tr>
                <td class="desc">Blood Type</td>
                <td>{{ object.blood_type }}</td>
            </tr>
        </table>

        <a href="{% url 'person_update_view' pk=object.id %}" class="button updateBtn">Update Details</a>
        <a href="{% url 'person_delete_view' pk=object.id %}" class="button deleteBtn">Delete Person</a>
    </div>
</body>
</html>