h1 {
    color: #ff516e;
    font-size: 40px;
}

body {
    font-family: "Arial", sans-serif;
    margin: 0;
    padding: 5%;
    background-color: #ffafd4;
}

.user-details-container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

.user-avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 20px;
}

.user-avatar img {
    width: 100%;
    object-fit: cover;
}

.user-details{
    padding: 10px;
    margin: auto;
    border: 2px solid #ff516e;
    border-radius: 10px;
}

td {
    padding: 5px 10px;
}

.desc {
    font-weight: bold;
    text-align: left;
}

.personList {
    list-style: none;
    font-size: 20px; 
}

button {
    display: inline-block;
    padding: 10px 20px;
    color: #fff; 
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 20px;
}

.updateBtn {
    background-color: #ff69b4;
}

.deleteBtn {
    background-color: #be1818;
}

.updateBtn:hover {
    background-color: #d74682; 
}

.deleteBtn:hover {
    background-color: #7b1010; 
}

li {
    margin-top: 30px;
}

.person {
    padding: 10px;
    border: 2px solid white;
}
